

<h1>Welcome to Astro Music School!</h1>
<p> A music school is an educational institution specialized in the study, training, and research of music. Such an institution can also be known as a school of music, music academy, music faculty, college of music, music department (of a larger institution), conservatory or conservatoire.</p>