/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     background-color: rgb(26, 25, 25);
     border: 30px solid black;
 }
 .header{
    width: 100%;
    height: 40vh;
}



.headerText{
    color: white;
    font-size: 72px;
    font-family: "Orbitron", sans-serif ;
    left: 30%;
    transform: translate(-50,-50);
    top: 20%;
    position: absolute;
    z-index: 15;  
}

.carousel{
  background: black;
}

  h1{
    color: white;
    font-family: 'Abel', sans-serif;
  }

  h2{ 
    color: red;
  }

  p{
    color:white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  li a:hover {
    background-color: #111;
  }

  .centerCarousel{
    text-align:center;
    
    left:3%;

  }

  .left{
    left:5%;
    height: 50vh;
    width:40%;
    position: absolute;
    top:65%
    
  }

  .right{
    right:5%;
    width: 40%;
    height: 50vh;
    position: absolute;
    top: 65%;
  }
  
  .rightText{
    right:5%;
    width: 40%;
    height: 50vh;
    position: absolute;
    top: 60%;
  }

  .imgSize{
    width:100%;
    height:50vh;
  }

  footer{
    bottom:0%;
     position: relative;
    left: 50%;
    transform: translate(-50,-50); 
  }