// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
    min-height: 75rem; /* Can be removed; just added for demo purposes */
  }
  
  
  
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  .album {
    min-height: 50rem; /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    /*background-color: #f7f7f7;*/
  }
  
  .card {
    
    width: 30%;
    padding: 20px;
    margin-bottom: 2rem;
    border: 2px solid black;
    margin: 20px;
  }
  
  .card > img {
    margin-bottom: .75rem;
  }
  
  .card-text {
    font-size: 30px;
  }
  
  .container{
    width:90%;
    margin: 10px;
    padding: 15px;
    
  }

  .card-columns {
    
    column-count: 4;
   
    
  }

  .btn btn-primary{
    width: 50%;
    text-align: center;
  }
  
  .card-block {
    flex: 1;
   
    
  }
  .social-links li a {
    font-size: 1.5em;
  }