

<ul>
<li><a href="/home">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/courses">Courses</a></li>
<li><a href="/teachers">Meet Our Staff</a></li>
<li><a href="/students">Our Students</a></li>
<li><a href="/contact">Contact</a></li>
<li style="float:right"><a class="active" href="/signup">Sign Up!</a></li>
<li style="float:right"><a class="active" href="/login">Login</a></li>

</ul>